.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.inputContainer {
    width: 100%;
    display: grid;
    gap: 15px;
    justify-content: center;
}

.addButton {
    width: calc(100% - 60px);
    margin-top:30px;
}