.dessertsContainer {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, 250px);
    transition: all 250ms linear;
    width: calc(100% - 200px)
}

.headerText {
    margin-top: 10vh;
}

.container {
    display: flex;
    position: relative;
    transition: all 250ms linear;
}

.findContainer {
    right: 100px;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 500px;
    margin-right: 0;
}

.checkboxContainer {
    display: flex;
    margin-top: 10px;
}

.checkboxContainer:first-of-type {
    margin-top: 20px;
}

.checkboxText {
    margin: 0;
    margin-left: 20px;
}

.submitSerch {
        margin-top: 20px;
        font-size: 18px;
        line-height: 25px;
        border: none;
        border-radius: 5px;
        background-color: #fddc36;
}