.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 560px);
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-size:35px;
    line-height: 40px;
    margin: 20 auto 40px;
}

.employeeContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    gap: 15px;
    width: 100%;
}

.cart {
    display: flex;
    flex-direction: column;
    background-color: azure;
    border-radius: 25px;
}

.avatar {
    width: 50Px;
    height: 50px;
    margin-right: 20px;
    border-radius: 25px;
}

.bio {
    width: 220px;
    display: flex;
    align-items: center;
}

.status {
    display: flex;
    padding-left: 10px;
    margin-top: 10px;
    align-items: center;
}

.working {
    background-color: green;
    width: 4px;
    height: 4px;
    border-radius: 4px;
    margin: auto 7px auto 5px;
}

.chilling {
    background-color: red;
    width: 4px;
    height: 4px;
    border-radius: 4px;
    margin: auto 7px auto 5px;
}

.addEmploye {
    margin: 50px auto 40px;
    width: 280px;
    height: 40px;
}