.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
}

.title {
    font-size:35px;
    line-height: 40px;
    margin: 20 auto 40px;
}

.employeeContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    gap: 15px;
    width: 100%;
    transition: all 250ms linear;
}

.status {
    display: flex;
    padding-left: 10px;
    margin-top: 10px;
    align-items: center;
}

.addEmploye {
    margin: 50px auto 40px;
    width: 280px;
    height: 40px;
}

.cartInactive {
    transition: all 250ms ease-in;
    opacity: 0;
}