.container {
display: flex;
flex-direction: column;
}

.info {
    display: flex;
}

.bioContaienr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 180px;
    margin-right: 20px;
}

.avatar {
    max-width: 180px;
}

.name {
    text-align: center;
}

.text {
    margin: 0;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}